.item__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff898d;
    border-radius: 1rem;
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.item__img {
    width: 250px;
    border-radius: .8rem;
}

.item__icon--container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: -10px;
    background-color: #ff898d;
    border-radius: 2rem 0 0 2rem;
    padding: 1rem;
    gap: .75rem;
    transform: translateX(100px);
    transition: transform 500ms ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.item__icon--container:hover {
    transform: translateX(0);
}

.item__icon--info {
    color: #fff;
    border-radius: 50% 0 0 50%;
    cursor: pointer;
}

.item__icon--info a {
    text-decoration: none;
    color: inherit;
}

.item__data--container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .75rem;
}

.item__price {
    font-weight: bold;
    font-size: 1.25rem;
}

.container__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
}

.item__btn {
    padding: .7rem .5rem;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    border: 1.5px solid #727272;
    background-color: #ddd;
    cursor: pointer;
}

.item__btn:active {
    transform: scale(0.97);
}