.count__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    background-color: #c7c5c5;
    border: 1px solid #a5a1a1;
    border-radius: .8rem;
    overflow: hidden;
    padding: 0rem .75rem;
}

.btn__container {
    border: none;
    border-radius: .75rem;
    padding: .4rem .6rem;
    background-color: inherit;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all .3s linear;
}

.btn__container:hover {
    background-color: #a5a1a169;
}

.btn__container:active {
    transform: scale(0.97);
}