.count__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    border: 1px solid #a5a1a1;
    border-radius: .8rem;
    overflow: hidden;
    padding: .5rem .75rem;
}

.btn__container {
    border: none;
    border-radius: .75rem;
    padding: .5rem .75rem;
    background-color: inherit;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn__container:hover {
    background-color: #a5a1a169;
}